<footer>



    <div id="elements" class="bottom-social clearfix">

        <div class="col-md-12 clearfix">

            <a href="" class="fa fa-facebook" aria-hidden="true"></a>

            <a href="" class="fa fa-twitter" aria-hidden="true"></a>

            <a href="" class="fa fa-linkedin" aria-hidden="true"></a>

            <a href="" class="fa fa-vimeo" aria-hidden="true"></a>

            <a href="" class="fa fa-google-plus" aria-hidden="true"></a>

            <a href="" class="fa fa-instagram" aria-hidden="true"></a>

        </div>

    </div>



    <div class="footer-top clearfix">

        <div class="container">

            <div class="row">

                <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">

                    <div class="footer-left">

                        <p class="no-margin"><strong>Event Camp</strong> Premium</p>

                    </div>

                </div>

                <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">

                    <div class="footer-right hidden-xs">

                        <ul>

                            <li><a href="#our-speakers-sec">Speakers</a><span>|</span></li>

                            <li><a href="#event-schedule-sec">Schedule</a><span>|</span></li>

                            <li><a href="#event-packages-sec">Prices</a><span>|</span></li>

                            <li><a href="#sponsors-sec">Sponsors</a><span>|</span></li>

                            <li><a href="#previous-event-sec">Gallery</a><span>|</span></li>



                            <li><a href="#contact-sec">Contacts</a><span>|</span></li>

                            <li><a href="#elements">Elements</a></li>

                        </ul>

                    </div>

                </div>

            </div>

        </div>

    </div>



    <div class="footer-bottom">

        <div class="copytight">

            <p>© 2019 ECP - Responsive Event WordPress Theme Designed &amp; Developed by <a href="http://glorywebs.com/" title="Glorywebs" target="_blank"> Glorywebs</a></p>

        </div>

    </div>



</footer>

</main>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script src="js/jquery-simple-validator.min.js"></script>



<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="js/main.js"></script> 

<script src="js/jquery.validate.min.js"></script>

<script src="js/bootstrap.min.js"></script>



<!-- Owl Carousel js -->

<script src="js/owl.carousel.min.js"></script>

<script src="js/custom.js"></script>

<!-- MAP js -->

<script>

function initMap() {

    var uluru = {

        lat: 35.3289521,

        lng: 33.295309

    };

    var map = new google.maps.Map(document.getElementById('map'), {

        zoom: 10,

        center: uluru

    });

    var marker = new google.maps.Marker({

        position: uluru,

        map: map

    });

}

</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= key %>&callback=initMap"></script>

<!-- <script src="https://maps.googleapis.com/maps/api/js?key=<%= key %>"></script> -->

<!-- END MAP js -->

<script src="js/jquery.countdown.js"></script>



<!-- Annual Conference Video -->



<div class="annual-model-box">

<div class="modal  fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">

    <div class="modal-dialog" role="document">

        <div class="modal-content">

            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">

                    <span aria-hidden="true">&times;</span>

                </button>

            </div>

            <div class="modal-body">

                <iframe class="embed-responsive-item" id="ytplayer" src="https://www.youtube.com/embed/5Peo-ivmupE?&loop=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            </div>

        </div>

    </div>

</div>

</div>

<!-- gallery js -->

<script>

function openModalModal() {

    document.getElementById('myModal').style.display = "block";

}



function closeModalModal() {

    document.getElementById('myModal').style.display = "none";

}



var slideIndex = 1;

showSlides(slideIndex);



function plusSlides(n) {

    showSlides(slideIndex += n);

}



function currentSlide(n) {

    showSlides(slideIndex = n);

}



function showSlides(n) {

    var i;

    var slides = document.getElementsByClassName("mySlides");

    var dots = document.getElementsByClassName("demo");

    var captionText = document.getElementById("caption");

    if (n > slides.length) {

        slideIndex = 1

    }

    if (n < 1) {

        slideIndex = slides.length

    }

    for (i = 0; i < slides.length; i++) {

        slides[i].style.display = "none";

    }

    for (i = 0; i < dots.length; i++) {

        dots[i].className = dots[i].className.replace(" active", "");

    }

    slides[slideIndex - 1].style.display = "block";

}

</script>



</body>



</html>